<h2>My Contact Information</h2>
<hr />

<address>
    Bailey Strum
    Rickmolt3.github.io
</address>

<h3>GO FALCONS BEAT THE PATRIOTS</h3>

<img src="~/FixedImages/atlanta-falcons-logo.png" class="img-responsive " />

@*
    This is my todo list:
        Make the team selctions look uniform and clean xxxx
        Make the team page cleaner xxx
        add all the data to the datbase about the teams and their information xxx
        maybe make big map off all the nfl stadiums
        make a cool looking data display for some random nfl data
        clean up controllers and add thoughtful comments 
        add a superbowl page that shows all superbowl winners xxx
        add recieving page and running page(controllers/dcs/procs/views)
        make a bootstrap graph maybe of some statistics
        add players to the team page so that a few good players are shown for each team
        

*@