@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "NFL Data Aggregator";
    <link rel="shortcut icon" HREF="~/atlanta-falcons-logo.ico">
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Landing Page for Nfl App">
    <meta name="author" content="Bailey Strum">
    <title>@ViewBag.title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <br />
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="~/FixedImages/landingimage.jpg" alt="">
    </header>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">NFL Data Aggregator</h1>
                    <p class="lead section-lead">The NFL Data App designed as a final project for the Fall 2016 backend course lets the user look at NFL data in a clean, well layed out way.</p>
                    <p class="section-paragraph">The application works with a SQL Database that contains datasets pertaining to the 2016 NFL Season Statistics as well as Superbowl history and the ability to look into certain teams.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>

    <!-- Content Section -->
    @*<section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Section Heading</h1>
                    <p class="lead section-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>*@

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

