@{
    ViewBag.Title = "Teams";
    @model IEnumerable<NFLData.Models.TeamModel>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Tests/MyJavascript.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

}

<script>
    $(function () {
        $('.panel').hover(function () {
            $(this).find('.panel-footer').slideDown(250);
        }, function () {
            $(this).find('.panel-footer').slideUp(250); //.fadeOut(205)
        });
    })
</script>

@*<h3>NFC</h3>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show the footer panel with a Badge</p>
                </div>
                <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show the footer panel with a Badge</p>
                </div>
                <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show the footer panel with a Badge</p>
                </div>
                <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show the footer panel with a Badge</p>
                </div>
                <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show the footer panel with a Badge</p>
                </div>
                <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show the footer panel with a Badge</p>
                </div>
                <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show the footer panel with a Badge</p>
                </div>
                <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show the footer panel with a Badge</p>
                </div>
                <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
            </div>
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row">
        @for (var i = 1; i < 5; i++)
        {
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.DisplayNameFor(model => model.TeamName)
                        <p>I will show the footer panel with a Badge</p>
                    </div>
                    <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
                </div>
            </div>
        }
    </div>
</div>  
<div class="container">
    <div class="row">
        @for (var i = 1; i < 5; i++)
        {
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Hover me</h2>
                        <p>I will show the footer panel with a Badge</p>
                    </div>
                    <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
                </div>
            </div>
        }
    </div>
</div>  
<div class="container">
    <div class="row">
        @for (var i = 1; i < 5; i++)
        {
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Hover me</h2>
                        <p>I will show the footer panel with a Badge</p>
                    </div>
                    <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
                </div>
            </div>
        }
    </div>
</div>  
<div class="container">
    <div class="row">
        @for (var i = 1; i < 5; i++)
        {
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Hover me</h2>
                        <p>I will show the footer panel with a Badge</p>
                    </div>
                    <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
                </div>
            </div>
        }
    </div>
</div>  



